:root {
  --main-color: #062263;
  --secondary-color: rgb(33, 178, 178);
  --gray-color: gray;
  --shadow-color: #446eae;
  --white-color: white;
  --black-color: #272727;
  --error-color: red;
  --background-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
}
#app {
  margin: 0 auto;
  background-image: url('./dollar-blue-background-3840x2160-15641-ea8f7949.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media screen and (max-width: 440px) {
  #app {
    max-width: 440px;
  }
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.converter.svelte-fw9yjr {
  margin: 0 auto;
  padding: 40px 50px 30px;
  border-radius: 12px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 300px;
  box-shadow: var(--background-shadow);
}
.converter__title-wrapper.svelte-fw9yjr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.converter__title.svelte-fw9yjr {
  text-align: left;
  font-weight: 900;
  font-size: 18px;
  color: var(--main-color);
}
.converter__paragraph.svelte-fw9yjr {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--secondary-color);
  border-radius: 8px;
  text-align: center;
}
.converter__input-wrapper.svelte-fw9yjr {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.converter__label.svelte-fw9yjr {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 14px;
  color: var(--gray-color);
  max-width: 228px;
  width: 100%;
  font-weight: 200;
}
.converter__input.svelte-fw9yjr {
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--black-color);
  border: 1px solid var(--shadow-color);
  background-color: var(--white-color);
  box-shadow: 5px 5px 5px var(--shadow-color);
  height: 30px;
  font-size: 10px;
  padding-left: 10px;
  margin-top: 2px;
}
input.svelte-fw9yjr::placeholder {
  font-size: 14px;
}
.converter__input.svelte-fw9yjr:focus,
.converter__input.svelte-fw9yjr:active,
.converter__input.svelte-fw9yjr:visited {
  border: 1px solid var(--secondary-color);
}
.converter__select.svelte-fw9yjr {
  border-radius: 5px;
  color: #272727;
  border: 1px solid var(--shadow-color);
  background-color: var(--white-color);
  box-shadow: 5px 5px 5px var(--shadow-color);
  height: 30px;
  font-size: 12px;
  padding: 5px;
  margin-top: 2px;
}
.converter__select.svelte-fw9yjr:focus,
.converter__select.svelte-fw9yjr:active,
.converter__select.svelte-fw9yjr:visited {
  border: 1px solid var(--secondary-color);
}
.converter__rate.svelte-fw9yjr {
  height: 22.5px;
  font-size: 16px;
  font-weight: 200;
  color: var(--main-color);
}
.converter__result.svelte-fw9yjr {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 900;
}
.converter__rate.svelte-fw9yjr,
.converter__result.svelte-fw9yjr {
  text-align: start;
  margin: 0;
  padding: 0;
}
.converter__message.svelte-fw9yjr {
  color: var(--error-color);
  font-size: 10px;
  font-weight: 300;
  height: 22.5px;
  margin: 10px 0 0;
}
.converter__amount.svelte-fw9yjr {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 800;
}
@media screen and (max-width: 440px) {
  .converter.svelte-fw9yjr {
    width: 280px;
    box-sizing: border-box;
  }
  .converter__paragraph.svelte-fw9yjr {
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
  }
  .converter__input-wrapper.svelte-fw9yjr {
    gap: 15px;
  }
  .converter__amount.svelte-fw9yjr {
    word-break: break-all;
    display: flex;
  }
  .converter__result.svelte-fw9yjr {
    word-break: break-all;
  }
}
