:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-image: url('./dollar-blue-background-3840x2160-15641.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.card {
  padding: 2em;
}
#app {
  min-width: 1180px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
main.svelte-pcm1lw {
  margin: 0 auto;
  padding: 40px 50px 30px;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 300px;
  box-shadow: #0000004d 0 19px 38px, #00000038 0 15px 12px;
}
.converter__title-wrapper.svelte-pcm1lw {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.converter__title.svelte-pcm1lw {
  text-align: left;
  font-weight: 900;
  font-size: 18px;
  color: #062263;
}
.converter__paragraph.svelte-pcm1lw {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #8c6a82;
  border-radius: 8px;
  text-align: center;
}
.converter__input-wrapper.svelte-pcm1lw {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.converter__label.svelte-pcm1lw {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 14px;
  color: gray;
  max-width: 228px;
  width: 100%;
  font-weight: 200;
}
.converter__input.svelte-pcm1lw {
  box-sizing: border-box;
  border-radius: 5px;
  color: #272727;
  border: 1px solid #446eae;
  background-color: #fff;
  box-shadow: 5px 5px 5px #446eae;
  height: 30px;
  font-size: 10px;
}
input.svelte-pcm1lw::placeholder {
  font-size: 14px;
}
.converter__input.svelte-pcm1lw:focus,
.converter__input.svelte-pcm1lw:active,
.converter__input.svelte-pcm1lw:visited {
  border: 1px solid rgb(33, 178, 178);
}
.converter__select.svelte-pcm1lw {
  border-radius: 5px;
  color: #272727;
  border: 1px solid #446eae;
  background-color: #fff;
  box-shadow: 5px 5px 5px #446eae;
  height: 30px;
  font-size: 12px;
}
.converter__select.svelte-pcm1lw:focus,
.converter__select.svelte-pcm1lw:active,
.converter__select.svelte-pcm1lw:visited {
  border: 1px solid rgb(33, 178, 178);
}
.converter__rate.svelte-pcm1lw {
  height: 22.5px;
  font-size: 16px;
  font-weight: 200;
  color: #062263;
}
.converter__result.svelte-pcm1lw {
  color: #062263;
  font-size: 18px;
  font-weight: 600;
}
.converter__rate.svelte-pcm1lw,
.converter__result.svelte-pcm1lw {
  text-align: start;
  margin: 0;
  padding: 0;
}
.converter__message.svelte-pcm1lw {
  color: red;
  font-size: 10px;
  font-weight: 300;
  height: 22.5px;
  margin: 10px 0 0;
}
.converter__amount.svelte-pcm1lw {
  color: #21b2b2;
  font-size: 18px;
  font-weight: 800;
}
